<%- include("partials/header.ejs") %>
<div class="container">
  <div>
    <div class="card mr-auto p-3 m-5" style="width: 60%; height: 70vh;">
      <img
        class="card-img-top"
        src="<%= hotel.image %>"
        alt="Card image cap"
        style="height: 40vh;"
      />
      <div class="card-body">
        <h4 class="card-title"><%= hotel.name %></h4>
        <h5 class="text-primary my-2">
          <%= hotel.location %>,<%= hotel.country %>
        </h5>
        <p class="card-text lead"><%= hotel.about %></p>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
